# dependencies
node_modules/
.pnpm-store/

# next
.next/
out/
next-env.d.ts
*.tsbuildinfo

# generated assets
public/og.png

# logs
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json

# env
.env
.env.local
.env.*.local
